---
import { Image } from "astro:assets";

import Section from "../common/Section.astro";

const { index, item } = Astro.props;
---

<Section class="max-w-7xl">
  <h2 class="text-4xl">{item.data.title}</h2>
  <p class="text-lg my-4">{item.data.subtitle}</p>

  <div class="grid grid-cols-2 gap-6">
    <div class={index % 2 === 0 ? "order-first" : "order-last"}>
      <Image
        src={item.data.image}
        alt={item.data.id}
        class="w-full h-full object-cover rounded"
      />
    </div>

    <ul class="grid gap-4">
      {
        item.data.features.map((feature, i) => (
          <li
            id="feature-item"
            class="flex flex-col justify-center p-4 gap-2 rounded bg-gray-100 cursor-pointer transition-all duration-200 hover:bg-gray-300"
            tabindex="0"
            data-index={i}
          >
            <h3 class="text-lg md:text-xl font-medium">{feature.id}</h3>
            <p class="text-sm md:text-base hidden">{feature.text}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
