---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Section from "../common/Section.astro";

const { index, item } = Astro.props;
---

<Section class="max-w-7xl">
  <h2 class="text-4xl">{item.data.title}</h2>
  <p class="text-lg my-4">{item.data.subtitle}</p>

  <div class="grid grid-cols-2 gap-6">
    <div class={index % 2 === 0 ? "order-first" : "order-last"}>
      <Image
        src={item.data.image}
        alt={item.data.id}
        class="w-full h-full object-cover rounded"
      />
    </div>

    <ul class="grid gap-4">
      {
        item.data.features.map((feature, i) => (
          <li
            id="feature-item"
            class:list={[
              "flex flex-col gap-3 p-4 justify-center",
              "rounded-lg bg-gray-100 cursor-pointer",
              "group hover:bg-gray-200 transition-all duration-300 ease-out",
            ]}
            tabindex="0"
            data-index={i}
            data-open={true}
          >
            <div class="flex gap-3">
              <Icon id="plus" class="w-6 h-6 " name="mdi:add" />
              <Icon id="minus" class="w-6 h-6 hidden" name="mdi:minus" />
              <h3 class="text-lg md:text-xl font-medium">{feature.id}</h3>
            </div>
            <p class="pl-9 text-sm md:text-base hidden">{feature.text}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
